* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    border: 2px solid;
    display: flex;
    min-height: 100vh;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-container {
    display: flex;
    gap: 10em;
    margin-top: 1em;

}

